/* General styles for desktop */
body {
    background-color: #292724; /* Set the background for the entire page */
}

.top {
    font-family: 'Techno', cursive;
    font-style: italic;
    font-weight: bold;
    color: #d6aedd;
    padding: 10px 20px;
    text-align: left;  /* Ensure it's left-aligned */
}

/* Main text written "my name is Daniel" */
.main {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;  /* Make the font size larger for desktop */
    font-weight: normal;
    line-height: 1.6;
    letter-spacing: 0.1px;
    color: #A8C2A5;
    text-align: left;
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
}

/* Cards and other content */
.card-body {
    box-shadow: none;
    background-color: #CEBAD1;
    font-family: 'Dancing Script', handwriting;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    padding: 20px;
}

/* Card title and text */
.card-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Button styling */
.button {
    display: block;
    padding: 10px 20px;
    background-color: #6C757D;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1.1rem;
    white-space: nowrap;
}

.button-hover {
    background-color: #45a049; /* Darker green on hover */
}

/* Footer */
footer {
    font-size: 14px;
    text-align: center;
    padding: 10px;
    color: black;
}

strong {
    font-weight: bold;
}

/* Example of targeting devices with a max width of 768px (tablets and mobile phones) */
@media (max-width: 768px) {
    .top h1 {
        font-size: 1.2rem; /* Larger font for mobile */
        text-align: center; /* Center the header on mobile */
    }

    .row {
        display: block; /* Stack the cards vertically */
    }

    .col-md-4 {
        width: 100%; /* Make each card take up the full width */
        margin-bottom: 20px; /* Add some space between the cards */
    }

    .main {
        font-size: 14px;  /* Slightly smaller text for mobile */
    }

    .card-body {
        font-size: 0.9rem; /* Adjust card font size for mobile */
    }

    .button {
        font-size: 1rem; /* Adjust button size on mobile */
    }
}

